/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-gap: 40px;
  --section-background: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
.main-title {
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid;
  margin: 0 auto 80px;
  position: relative;
  width: fit-content;
  z-index: 2;
}
.main-title:hover {
  transition: var(--main-transition);
  transition-delay: 0.5s;
  border-color: var(white);
  color: white;
}
.main-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
}
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
}
.main-title:hover::before {
  animation: animated-fill-before 0.5s linear forwards;
}
.main-title:hover::after {
  animation: animated-fill-after 0.5s linear forwards;
}
@keyframes animated-fill-before {
  40% {
    width: 10px;
    height: 10px;
  }
  50% {
    left: 0;
    border-radius: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes animated-fill-after {
  40% {
    width: 10px;
    height: 10px;
  }
  50% {
    right: 0;
    border-radius: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* End Global Rules */
/* Start header */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
}
@media (max-width: 750px) {
  header .container {
    flex-direction: column;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .logo a {
  font-size: 1.8em;
  color: var(--main-color);
  font-weight: 900;
  padding: 10px;
  display: inline-block;
}
header .main-nav {
  list-style: none;
  display: flex;
}
header .main-nav > li a {
  position: relative;
  font-size: 1.2rem;
  color: black;
  display: inline-block;
  padding: 20px 30px;
  transition: var(--main-transition);
}
@media (max-width: 750px) {
  header .main-nav > li > a {
    font-size: 0.9rem !important;
    padding: 10px;
  }
  header .main-nav > li > a::before {
    height: 2px !important;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .main-nav > li > a:hover::before {
  width: 100%;
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .mega-menu {
  width: 100%;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: var(--main-transition);
}
header .main-nav > li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}
@media (max-width: 750px) {
  header .mega-menu {
    flex-direction: column;
    padding: 0 !important;
    gap: 0 !important;
  }
}
header .mega-menu .links {
  list-style: none;
}
@media (max-width: 750px) {
  header .mega-menu .links {
    width: 100%;
  }
}
header .mega-menu img {
  width: 450px;
}
@media (max-width: 992px) {
  header .mega-menu img {
    display: none;
  }
  header .mega-menu .links {
    flex: 1;
  }
}
header .mega-menu .links li {
  border-bottom: 1px solid var(--section-background);
  position: relative;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li i {
  color: var(--main-color);
  position: relative;
  padding-left: 15px;
}
header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px !important;
}
/* End header */
/* Start landing page */
.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: var(--section-background);
  transform-origin: 0 50%;
  transform: skewY(-6deg);
  z-index: -1;
}
.landing-page .container {
  display: flex;
  align-items: center;
  height: calc(100vh - 62px);
  padding-bottom: 120px;
  position: relative;
}
.landing-page .text h1 {
  font-size: 2.5rem;
  margin: 0.4em 0;
}
.landing-page .text p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #777;
}
@media (max-width: 750px) {
  .landing-page .container {
    height: calc(100vh - 89.5px) !important;
  }
  .landing-page .text h1 {
    font-size: 2rem !important;
  }
  .landing-page .text p {
    font-size: 1rem !important;
  }
}
.landing-page img {
  width: 600px;
  animation: image-shaker 5s infinite linear;
}
@keyframes image-shaker {
  50% {
    transform: translateY(50px);
  }
}
@media (max-width: 992px) {
  .landing-page .text {
    text-align: center;
  }
  .landing-page img {
    display: none;
  }
}
.landing-page a {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: arrow-shaker 1.3s infinite;
}
@keyframes arrow-shaker {
  22.22% {
    transform: translate(-50%, -20px);
  }
  33.33% {
    transform: translate(-50%, 0);
  }
  44.44% {
    transform: translate(-50%, -20px);
  }
  66.66% {
    transform: translate(-50%, 0);
  }
}
/* End landing page */

/* Start article section */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.articles .content .card {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  min-width: 240px;
  box-shadow: 0 2px 10px #ddd;
  transition: var(--main-transition);
}
.articles .content .card:hover {
  transform: translateY(-10px);
}
.articles .content .card img {
  width: 100%;
}
.articles .content .card h3 {
  padding: 15px 15px 0;
}
.articles .content .card p {
  padding: 15px;
  color: #777;
  line-height: 1.5;
}
.articles .content .card button {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid var(--section-background);
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--main-color);
}
.articles .content .card button span {
  font-weight: bold;
}
.articles .content .card button i {
  transform: translateX(-5px);
}
.articles .content .card:hover button i {
  animation: right-move 0.5s linear infinite;
}
@keyframes right-move {
  100% {
    transform: translateX(5px);
  }
}

/* End article section */
/* Start gallery section */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--main-gap);
}
.gallery .box {
  padding: 15px;
  min-width: 280px;
  max-width: 400px;
  flex: 1;
  background-color: white;
  box-shadow: 0 2px 10px #bbb;
}
.gallery .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: var(--main-transition);
  z-index: 2;
}
.gallery .image:hover::before {
  animation: flash 0.5s linear;
}
@keyframes flash {
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .box .image img {
  display: block;
  transition: var(--main-transition);
  width: 100%;
}
.gallery .image:hover img {
  transform: scale(1.1) rotate(5deg);
}
/* End gallery section */
/* Start features section */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.features .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--main-gap);
}
.features .feature {
  flex: 1;
  min-width: 280px;
  max-width: 450px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--section-background);
}
.features .feature .image {
  position: relative;
}
.features .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .feature .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 0 170px 500px;
  transition: var(--main-transition);
}
.features .feature:hover .image::after {
  border-right-width: 500px;
  border-left-width: 0;
  right: calc(100% - 500px);
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .feature .image img {
  width: 100%;
  display: block;
}
.features .feature h1 {
  font-size: 2.5rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.features .feature h1::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
}
.features .passion h1::before {
  background-color: rgb(3 169 244);
}
.features .quality h1::before {
  background-color: rgb(244 64 54);
}
.features .time h1::before {
  background-color: rgb(0 150 136);
}
.features .feature p {
  line-height: 2;
  color: #777;
  font-size: 1.3rem;
  margin: 50px 10px 20px;
}
.features .feature button {
  padding: 10px 30px;
  border: 3px solid;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: var(--main-transition);
  position: relative;
  z-index: 2;
  margin: 30px;
}
.features .feature button:hover {
  color: white;
}
.features .feature button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.features .feature button:hover::before {
  width: 100%;
}
.features .quality button::before {
  background-color: rgb(3 169 244);
}
.features .time button::before {
  background-color: rgb(244 64 54);
}
.features .passion button::before {
  background-color: rgb(0 150 136);
}
.features .quality button {
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
}
.features .time button {
  color: rgb(244 64 54);
  border-color: rgb(244 64 54);
}
.features .passion button {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
}
/* End features section */
/* Start testimonials section */
.testimonials {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding: var(--main-padding-top) 20px;
}
.testimonials .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.testimonials .card {
  flex: 1;
  min-width: 280px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 10px #bbb;
}
.testimonials .card .avatar {
  width: 90px;
  height: 90px;
  border: 8px solid var(--section-background);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);
}
.testimonials .card .avatar img {
  width: 100%;
}
.testimonials .card .job {
  color: #555;
  margin: 10px 0;
}
.testimonials .card .rate {
  margin: 10px 0;
}
.testimonials .card .rate i.filled {
  color: #ffc107;
}
.testimonials .card .comment {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1.05rem;
  color: #777;
}
/* End testimonials section */
