/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-gap: 40px;
  --section-background: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
a {
  text-decoration: none;
}
.main-title {
  text-transform: uppercase;
  user-select: none;
  padding: 10px 15px;
  border: 2px solid;
  margin: 0 auto 80px;
  position: relative;
  width: fit-content;
  z-index: 2;
}
.main-title:hover {
  transition: var(--main-transition);
  transition-delay: 0.5s;
  color: white;
}
.main-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
}
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
}
.main-title:hover::before {
  animation: animated-fill-before 0.5s linear forwards;
}
.main-title:hover::after {
  animation: animated-fill-after 0.5s linear forwards;
}
@keyframes animated-fill-before {
  40% {
    width: 10px;
    height: 10px;
  }
  50% {
    left: 0;
    border-radius: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes animated-fill-after {
  40% {
    width: 10px;
    height: 10px;
  }
  50% {
    right: 0;
    border-radius: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* End Global Rules */
/* Start header */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
}
@media (max-width: 750px) {
  header .container {
    flex-direction: column;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .logo a {
  font-size: 1.8em;
  color: var(--main-color);
  font-weight: 900;
  padding: 10px;
  display: inline-block;
}
header .main-nav {
  list-style: none;
  display: flex;
}
header .main-nav > li a {
  position: relative;
  font-size: 1.2rem;
  color: black;
  display: inline-block;
  padding: 20px 30px;
  transition: var(--main-transition);
}
@media (max-width: 750px) {
  header .main-nav > li > a {
    font-size: 0.9rem !important;
    padding: 10px;
  }
  header .main-nav > li > a::before {
    height: 2px !important;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .main-nav > li > a:hover::before {
  width: 100%;
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .mega-menu {
  width: 100%;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: var(--main-transition);
}
header .main-nav > li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}
@media (max-width: 750px) {
  header .mega-menu {
    flex-direction: column;
    padding: 0 !important;
    gap: 0 !important;
  }
}
header .mega-menu .links {
  list-style: none;
}
@media (max-width: 750px) {
  header .mega-menu .links {
    width: 100%;
  }
}
header .mega-menu img {
  width: 450px;
}
@media (max-width: 992px) {
  header .mega-menu img {
    display: none;
  }
  header .mega-menu .links {
    flex: 1;
  }
}
header .mega-menu .links li {
  border-bottom: 1px solid var(--section-background);
  position: relative;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li i {
  color: var(--main-color);
  position: relative;
  padding-left: 15px;
}
header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px !important;
}
/* End header */
/* Start landing page */
.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: var(--section-background);
  transform-origin: 0 50%;
  transform: skewY(-6deg);
  z-index: -1;
}
.landing-page .container {
  display: flex;
  align-items: center;
  height: calc(100vh - 62px);
  padding-bottom: 120px;
  position: relative;
}
.landing-page .text h1 {
  font-size: 2.5rem;
  margin: 0.4em 0;
}
.landing-page .text p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #777;
}
@media (max-width: 750px) {
  .landing-page .container {
    height: calc(100vh - 89.5px) !important;
  }
  .landing-page .text h1 {
    font-size: 2rem !important;
  }
  .landing-page .text p {
    font-size: 1rem !important;
  }
}
.landing-page img {
  width: 600px;
  animation: image-shaker 5s infinite linear;
}
@keyframes image-shaker {
  50% {
    transform: translateY(50px);
  }
}
@media (max-width: 992px) {
  .landing-page .text {
    text-align: center;
  }
  .landing-page img {
    display: none;
  }
}
.landing-page a {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: arrow-shaker 1.3s infinite;
}
@keyframes arrow-shaker {
  22.22% {
    transform: translate(-50%, -15px);
  }
  33.33% {
    transform: translate(-50%, 0);
  }
  44.44% {
    transform: translate(-50%, -15px);
  }
  66.66% {
    transform: translate(-50%, 0);
  }
}
/* End landing page */

/* Start article section */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.articles .content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.articles .content .card {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  min-width: 240px;
  box-shadow: 0 0 10px #ddd;
  transition: var(--main-transition);
}
.articles .content .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px #bbb;
}
.articles .content .card img {
  width: 100%;
}
.articles .content .card h3 {
  padding: 15px 15px 0;
}
.articles .content .card p {
  padding: 15px;
  color: #777;
  line-height: 1.5;
}
.articles .content .card button {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid var(--section-background);
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--main-color);
}
.articles .content .card button span {
  font-weight: bold;
}
.articles .content .card button i {
  transform: translateX(-5px);
}
.articles .content .card:hover button i {
  animation: right-move 0.5s linear infinite;
}
@keyframes right-move {
  100% {
    transform: translateX(5px);
  }
}

/* End article section */
/* Start gallery section */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--main-gap);
}
.gallery .box {
  padding: 15px;
  min-width: 280px;
  max-width: 400px;
  flex: 1;
  background-color: white;
  box-shadow: 0 2px 10px #bbb;
}
.gallery .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: var(--main-transition);
  z-index: 2;
}
.gallery .image:hover::before {
  animation: flash 0.5s linear;
}
@keyframes flash {
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .box .image img {
  display: block;
  transition: var(--main-transition);
  width: 100%;
}
.gallery .image:hover img {
  transform: scale(1.1) rotate(5deg);
}
/* End gallery section */
/* Start features section */
#features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
#features .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--main-gap);
}
#features .feature {
  flex: 1;
  min-width: 280px;
  max-width: 450px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--section-background);
}
#features .feature .image {
  position: relative;
}
#features .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#features .feature .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 0 170px 500px;
  transition: var(--main-transition);
}
#features .feature:hover .image::after {
  border-right-width: 500px;
  border-left-width: 0;
  right: calc(100% - 500px);
}
#features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
#features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
#features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
#features .feature .image img {
  width: 100%;
  display: block;
}
#features .feature h1 {
  font-size: 2.5rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
#features .feature h1::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
}
#features .passion h1::before {
  background-color: rgb(3 169 244);
}
#features .quality h1::before {
  background-color: rgb(244 64 54);
}
#features .time h1::before {
  background-color: rgb(0 150 136);
}
#features .feature p {
  line-height: 2;
  color: #777;
  font-size: 1.3rem;
  margin: 50px 10px 20px;
}
#features .feature button {
  padding: 10px 30px;
  border: 3px solid;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: var(--main-transition);
  position: relative;
  z-index: 2;
  margin: 30px;
}
#features .feature button:hover {
  color: white;
}
#features .feature button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  z-index: -1;
}
#features .feature button:hover::before {
  width: 100%;
}
#features .passion button::before {
  background-color: rgb(3 169 244);
}
#features .quality button::before {
  background-color: rgb(244 64 54);
}
#features .time button::before {
  background-color: rgb(0 150 136);
}
#features .passion button {
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
}
#features .quality button {
  color: rgb(244 64 54);
  border-color: rgb(244 64 54);
}
#features .time button {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
}
/* End features section */
/* Start testimonials section */
.testimonials {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding: var(--main-padding-top) 20px;
}
.testimonials .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.testimonials .card {
  flex: 1;
  min-width: 280px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 10px #bbb;
}
.testimonials .card .avatar {
  width: 90px;
  height: 90px;
  border: 8px solid var(--section-background);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);
}
.testimonials .card .avatar img {
  width: 100%;
}
.testimonials .card .job {
  color: #555;
  margin: 10px 0;
}
.testimonials .card .rate {
  margin: 10px 0;
}
.testimonials .card .rate i.filled {
  color: #ffc107;
}
.testimonials .card .comment {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1.05rem;
  color: #777;
}
/* End testimonials section */
/* Start members section */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.team .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.team .box {
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  z-index: 2;
}
.team .box:hover::after {
  width: 80%;
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box:hover .sub-box img {
  filter: grayscale(100%);
}
.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: var(--section-background);
  z-index: -1;
  border-radius: 10px;
}
.team .box::after {
  width: 0;
  transition: var(--main-transition);
  background-color: #d4d4d4;
}
.team .box .sub-box {
  display: flex;
  align-items: center;
}
.team .box .sub-box img {
  border-radius: 10px;
  width: calc(100% - 40px);
  transition: var(--main-transition);
}
.team .box .sub-box .social {
  flex: 1;
}
.team .box .sub-box .social a {
  display: block;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #777;
  transition: var(--main-transition);
}
.team .box .sub-box .social a:hover {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 20%;
}
.team .box .info h3 {
  transition: var(--main-transition);
  margin: 10px 0;
  color: var(--main-color);
}
/* End members section */
/* Start services section */
.services {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}
.services .container .card {
  flex: 1;
  min-width: 280px;
  background-color: white;
  box-shadow: 0 0 15px #bbb;
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .container .card:hover {
  transform: translateY(-10px);
}
.services .container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2.5px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .card:hover::before {
  width: 100%;
}
.services .container .card .title {
  padding: 30px;
  text-align: center;
}
.services .container .card .title i {
  color: #ccc;
}
.services .container .card .title h3 {
  font-size: 1.6rem;
  margin: 15px;
  color: var(--main-color);
}
.services .container .card .info {
  padding: 15px;
  text-align: right;
  background-color: #f5f5f5;
  position: relative;
}
.services .container .card .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.services .container .card .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 60px;
  width: 40px;
  height: 100%;
  background-color: #ccc;
  transform: skewX(-25deg);
}
.services .container .card .info a {
  color: var(--main-color);
  display: inline-block;
  font-size: 1.05rem;
}
/* End services section */
/* Start skills section */
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.skills .container {
  display: flex;
  align-items: center;
}
.skills .image img {
  width: 100%;
}
@media (max-width: 992px) {
  .skills .image img {
    display: none;
  }
}
.skills .technologies {
  flex: 1;
}
.skills .technologies .tech h3 {
  display: flex;
  justify-content: space-between;
}
.skills .technologies .tech h3 span {
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  color: var(--main-color);
}
.skills .technologies .tech .progress {
  height: 30px;
  background-color: var(--section-background);
  margin: 20px 0;
  position: relative;
}
.skills .technologies .tech .progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
/* End skills section */
/* Start "how it works" section */
.how-it-works {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.how-it-works .container {
  display: flex;
  align-items: center;
  gap: var(--main-gap);
}
@media (max-width: 992px) {
  .how-it-works .image {
    display: none;
  }
}
.how-it-works .image img {
  width: 100%;
}
.how-it-works .ways {
  flex: 1;
}
.how-it-works .ways .way {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #f5f5f5;
  padding: 30px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 20px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .how-it-works .ways .way {
    flex-direction: column;
    text-align: center;
  }
}
.how-it-works .ways .way::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--section-background);
  transition: var(--main-transition);
  z-index: -1;
  border-radius: inherit;
}
.how-it-works .ways .way:hover::before {
  width: 100%;
  height: 100%;
}
.how-it-works .ways .way img {
  width: 60px;
}
.how-it-works .ways .way .info h3 {
  font-size: 1.4rem;
}
.how-it-works .ways .way .info p {
  margin: 10px 0;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #777;
}
/* End "how it works" section */
/* Start latest events */
#events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
#events .event {
  display: flex;
  align-items: center;
  gap: 20px;
}
#events .event .image {
  min-width: 40%;
}
@media (max-width: 992px) {
  #events .event .image {
    display: none;
  }
}
#events .event .image img {
  width: 100%;
}

#events .event .details {
  text-align: center;
}
#events .event .details .remaining-time {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  gap: 0.8rem;
}
#events .event .details .remaining-time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  transition: var(--main-transition);
}
#events .event .details .remaining-time .unit:hover {
  border-color: var(--main-color);
}
#events .event .details .remaining-time .unit h1 {
  padding: 20px;
  margin: 0;
  color: var(--main-color);
}
#events .event .details .remaining-time .unit:hover span {
  border-top-color: var(--main-color);
}
#events .event .details .remaining-time .unit span {
  padding: 10px;
  display: block;
  border-top: 1px solid #d4d4d4;
  font-size: 0.9rem;
  transition: var(--main-transition);
}
#events .event .details .event-title {
  margin: 2.3rem 0;
}
#events .event .details p {
  color: #777;
  font-size: 1.1rem;
  line-height: 1.7;
}
#events .subscribe {
  margin: 2.6rem auto 0;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 100px;
  display: flex;
  gap: 1rem;
  max-width: 700px;
  transition: var(--main-transition);
}
#events .subscribe input {
  flex: 1;
  border: none;
  border-radius: inherit;
  padding: 1rem;
  outline: none;
  caret-color: var(--main-color);
  transition: inherit;
}
#events .subscribe input::placeholder {
  transition: var(--main-transition);
}
#events .subscribe input:focus::placeholder {
  opacity: 0;
}
#events .subscribe button[type="submit"] {
  padding: 1.3rem;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: inherit;
  cursor: pointer;
  transition: inherit;
}
#events .subscribe button[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 768px) {
  #events .subscribe {
    flex-direction: column;
    border-radius: unset !important;
  }
  #events .subscribe input {
    border-radius: unset !important;
  }
  #events .subscribe button[type="submit"] {
    border-radius: unset !important;
  }
}

/* End latest events */
/* Start pricing plans */
.plans {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-gap);
}
.plans .plan {
  background-color: white;
  box-shadow: 0 1px 20px #bbb;
  position: relative;
  z-index: 1;
}
.plans .plan:hover::before,
.plans .plan:hover::after {
  width: 100%;
}
.plans .plan::before,
.plans .plan::after {
  content: "";
  background-color: #ececec;
  width: 0;
  height: 50%;
  position: absolute;
  transition: var(--main-transition);
  z-index: -1;
}
.plans .plan::before {
  top: 0;
  left: 0;
}
.plans .plan::after {
  bottom: 0;
  right: 0;
}
.plans .plan.popular {
  transform: translateY(-20px);
}
.plans .plan.popular .label {
  position: absolute;
  top: 0;
  left: calc(100% - 30px);
  padding: 10px 0 10px 10px;
  background-color: var(--main-color);
  color: white;
  transform-origin: 0 0;
  white-space: nowrap;
  transform: rotate(90deg);
}
.plans .plan.popular .label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 0;
  width: 0;
  border: 19.2px solid var(--main-color);
  border-right-color: transparent;
}
.plans .plan .info {
  text-align: center;
  padding: 20px;
}
.plans .plan .info h3 {
  font-size: 1.5rem;
}
.plans .plan .info img {
  width: 25%;
  margin: 30px 0;
}
.plans .plan .info .price {
  margin: 0 0 5px;
  font-size: 3.5rem;
  color: var(--main-color);
}
.plans .plan .info span {
  color: #777;
}
.plans .plan .features {
  list-style: none;
  padding: 0;
}
.plans .plan .features li {
  padding: 20px 15px 20px 45px;
  border-top: 1px solid #ddd;
  position: relative;
}
.plans .plan .features li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotate(-45deg);
  width: 12px;
  height: 5px;
  border-left: 3.5px solid var(--main-color);
  border-bottom: 3.5px solid var(--main-color);
}
.plans .plan button {
  color: var(--main-color);
  padding: 15px 20px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  cursor: pointer;
  background-color: transparent;
  display: block;
  border-radius: 8px;
  margin: 30px auto;
  transition: 0.2s;
}
.plans .plan button:hover {
  background-color: var(--main-color);
  color: white;
}
/* End pricing plans */
/* start top videos */
#videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
#videos .holder {
  display: flex;
  border: 1px solid var(--section-background);
}
@media (max-width: 992px) {
  #videos .holder {
    flex-direction: column;
  }
}
#videos .lists .status {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
#videos .lists {
  flex: 1;
}
#videos .lists ul {
  list-style: none;
}
#videos .lists ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  transition: var(--main-transition);
  cursor: pointer;
}
#videos .lists ul li:hover {
  background-color: #fafafa;
}
#videos .lists ul li p {
  transition: var(--main-transition);
}
#videos .lists ul li:hover p {
  color: var(--main-color);
}
#videos .lists ul li span {
  color: #777;
  margin-top: 0.7rem;
  font-size: 0.95rem;
  display: block;
}
#videos .preview {
  padding: 10px;
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70%;
}
#videos .preview img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
#videos .preview .title {
  background-color: white;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 576px) {
  #videos .preview .title {
    font-size: unset !important;
  }
}
/* End top videos */
